.callback-popup {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100%);
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.25s ease-out, visibility 0.25s ease-out;
    // @include to(600px){
    //     height: calc(100% - var(--header-h));
    // }
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &__close {
        position: absolute;
        right: var(--page-side-fields);
        top: var(--page-side-fields);
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (hover: hover) {
        &__close {
            svg {
                transform-origin: center;
                transition: transform 0.25s ease-out;
            }
            &:hover svg{
                transform: rotate(90deg);
            }
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-black);
        opacity: 0.8;
    }
    &__title {
        margin-bottom: 12px;
        padding-right: 30%;
    }
    &__subtitle {
        @include text-style-1920-subtitle;
        @include from-to(601px, 1024px){
            font-size: 24px;
        }
        @include to(600px){
            @include text-style-375-subtitle;
        }
    }
    &__content {
        position: relative;
        z-index: 2;
        background-color: var(--color-blue);
        padding: 100px 20px 100px 100px;;
        display: flex;
        flex-direction: column;
        width: 1080px;
        @include to(1024px){
            padding: 80px 40px;;
            width: 100%;
            width: 680px;
        }
        @include to(600px){
            padding: 40px 20px;
            width: 340px;
        }
        .dzen-form {
            margin-top: auto;
            width: calc(100% - pxWidthInVw(240));
            margin-left: auto;
            @include to(1024px){
                width: calc(100% - 240px);
            }
            @include to(600px){
                // width: calc(100% - 60px);
                width: 100%;
            }
        }
        &>.color-black {
        }
    }
}