.dzen-form {
    display: flex;
    flex-direction: column;
    gap: 60px; 
    position: relative;
    @include to(600px){
        gap: 50px;

    }
    &__input-group {
        position: relative;
        border-bottom: 1px solid var(--color-white-15);
        padding-top: 24px;
        padding-bottom: 24px;
        @include text-style-1920-body;
        &-title {
            font-variant-numeric: ordinal;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 16.8px */
            letter-spacing: -0.72px;
            margin-bottom: 18px;
        }
        input {
            width: 100%;
            background: none;
            border: none;
            color: var(--color-white);
            @include text-style-1920-body;
            &::placeholder {
                color: var(--color-white)
            }
        }
        &-required-label {
            position: absolute;
            right: 0;
            top: 0;
            width: 24px;
            height: 24px;
            [fill] {
                fill: var(--color-white);
            }
            [stroke] {
                stroke: var(--color-white);
            }
        }
    }
    &__input-message {
        
        // background: #E76A6A;
        color: #E76A6A;
        position: absolute;
        left: 0;
        top: 100%;
        @include to(600px){
            font-size: 10px;
        }
        &:empty {
            display: none;
        }
    }
    &__submit {
        display: flex;
        padding: 23px 40px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        border-radius: 100px;
        background-color: var(--color-white);
        font-family: $default-font;
        width: 100%;
        color: var(--color-blue);
        @include text-style-1920-body;
        @include to(600px){
            padding-top: 14px;
            padding-bottom: 14px;
        }
        &:disabled {
            pointer-events: none;
            cursor: not-allowed;
        }
        @media (hover: hover) {
            transition: .2s ease-in-out;
            position: relative;
            background-color: transparent;
            overflow: hidden;
            span,svg {
                position: relative;
                z-index: 2;
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-gray);
                transform: translateY(-100%);
                transition: .2s ease-in;
                // z-index: -1;
                    border-radius: 100px;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--color-white);
                transition: .2s ease-out;
                // z-index: -1;
                border-radius: 100px;
            }
            &:hover {
                color: var(--color-white);
            }
            &:hover:after {
                transform: translateY(0);
            }
            &:hover:before {
                transform: translateY(100%);
            }
            &:hover svg [fill] {
                fill: var(--color-white);
            }
            &:hover svg [stroke] {
                stroke: var(--color-white);
            }
        }
    }
    [data-btn-submit-text] {
        display: none;
    }
    [data-success] {
        @include from(601px){
            background-color: var(--color-blue) !important;
        }
        @include to(600px){
            background-color: transparent !important;
        }

    }
    &__success {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Inter Display';
        font-size: 21px;
        font-style: normal;
        line-height: 120%;
        text-transform: uppercase;
        z-index: 2;
        padding: 8px;
        justify-content: space-between;
        gap: 100px;
        height: max-content;
        padding-bottom: 274px;
        @include to(1024px){
            padding-bottom: 226px;
        }
        @include to(600px){
            padding-bottom: 126px;
        }
        .bgtitle {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            width: 1080px;
            @include to(1024px){
                width: 680px;
                right: -40px;
                bottom: -70px;
            }
            @include to(600px){
                width: 340px;
                right: -25px;
                bottom: -35px;
            }
            span:last-child {
                text-align: right;
            }
        }
    }
    &.success &__submit:not(.success-close),
    &.success &__input-group {
        opacity: 0;
    }
}