// Повторювальний блок контактів
.contact-screen(id="contact-screen")
  .bgtitle Contacts
  .contact-screen__bg
    <picture>
        <source srcset="./assets/images/contact-screen-bg.jpg" media="(min-width: 1025px)">
        <source srcset="./assets/images/tablet-contact-screen-bg.jpg" media="(min-width: 601px)">
        <source srcset="./assets/images/mobile-contact-screen-bg.jpg" media="(min-width: 320px)">
        <img src="./assets/images/contact-screen-bg.jpg" alt="Альтернативний текст" loading="lazy">
    </picture>
  .contact-screen__content
    .contact-screen__left
      .contact-screen__left-info
        .contact-screen__group
          .contact-screen__group-title.text-style-1920-h-6 Відділ продажів:
          .contact-screen__group-text 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2.35742C15.1817 2.35742 17.9999 4.35914 18 8.17969C18 8.98009 17.5754 10.1504 17.3633 10.6357L12 21.6436L6.63672 10.6357C6.42456 10.1504 6 8.98009 6 8.17969C6.00015 4.35916 8.8183 2.35744 12 2.35742ZM12 5.78711C10.5799 5.78711 9.4278 6.9383 9.42773 8.3584C9.42773 9.77855 10.5798 10.9297 12 10.9297C13.4199 10.9294 14.5713 9.77839 14.5713 8.3584C14.5712 6.93846 13.4199 5.78737 12 5.78711Z" fill="#F6F6F6"/>
            </svg>
            span Київська область, с. Мотижин
          a(href="http://google.com", target="_blank", rel="noopener noreferrer").button-primary.button-primary--no-icon.button-primary--light
            span Прокласти маршрут
        .contact-screen__group
          .contact-screen__group-title.text-style-1920-h-6 Адреса комплексу:
          .contact-screen__group-text 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2.35742C15.1817 2.35742 17.9999 4.35914 18 8.17969C18 8.98009 17.5754 10.1504 17.3633 10.6357L12 21.6436L6.63672 10.6357C6.42456 10.1504 6 8.98009 6 8.17969C6.00015 4.35916 8.8183 2.35744 12 2.35742ZM12 5.78711C10.5799 5.78711 9.4278 6.9383 9.42773 8.3584C9.42773 9.77855 10.5798 10.9297 12 10.9297C13.4199 10.9294 14.5713 9.77839 14.5713 8.3584C14.5712 6.93846 13.4199 5.78737 12 5.78711Z" fill="#F6F6F6"/>
            </svg>

            span Київська область, с. Мотижин
          a(href="http://google.com", target="_blank", rel="noopener noreferrer").button-primary.button-primary--no-icon.button-primary--light
            span Прокласти маршрут
        .contact-screen__group
          .contact-screen__inner-group
            .contact-screen__group-title.text-style-1920-h-6 Графік роботи:
            .contact-screen__scheldule
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5.25C15.7279 5.25 18.75 8.27208 18.75 12C18.75 15.7279 15.7279 18.75 12 18.75C8.27208 18.75 5.25 15.7279 5.25 12C5.25 8.27208 8.27208 5.25 12 5.25ZM12.375 7.6875C12.0643 7.6875 11.8125 7.93934 11.8125 8.25V12.1875C11.8125 12.411 11.9447 12.6136 12.1494 12.7031L15.1494 14.0156C15.434 14.1401 15.7661 14.0102 15.8906 13.7256C16.0151 13.441 15.8852 13.1089 15.6006 12.9844L12.9375 11.8184V8.25C12.9375 7.93934 12.6857 7.6875 12.375 7.6875Z" fill="#F6F6F6"/>
              </svg>
              .contact-screen__group-text пн.- пт.  09:00 -18:00
              .contact-screen__group-text сб.-вс.  Вихідний
            
        .contact-screen__group
          .contact-screen__group-title.contact-screen__group-mobile-bigger-margin-title.text-style-1920-h-6 Соцмережі:
          a(href="http://t.me", target="_blank", rel="noopener noreferrer").social-link
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.51555 10.9544C1.51692 11.2928 1.53267 11.7792 2.3466 11.9993L6.08879 13.015L14.7802 8.26886C15.1893 8.03246 15.5617 8.16332 15.2558 8.39972L8.22453 13.9095L7.95109 17.2591C8.3416 17.2591 8.51097 17.1126 8.71379 16.9368L10.5448 15.4105L14.3388 17.8353C15.0342 18.1733 15.5241 17.9949 15.7118 17.2767L18.2021 7.09308L18.203 7.09211C18.4235 6.19483 17.831 5.84369 17.1532 6.06378L2.51555 10.9544Z" fill="#F6F6F6"/>
            </svg>

            span Telegram
          a(href="http://tiktok.com", target="_blank", rel="noopener noreferrer").social-link
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0381 3C14.4353 3.00113 16.6848 3.93045 18.377 5.61621C20.0688 7.30198 21.0007 9.54245 21 11.9258C20.9979 16.8433 16.9771 20.8455 12.0381 20.8457H12.0342C10.5343 20.8451 9.06006 20.4704 7.75098 19.7598L3 21L4.27148 16.3779C3.48737 15.0255 3.07465 13.4907 3.0752 11.9189C3.07743 7.00117 7.09797 3 12.0381 3ZM8.86523 7.5C8.71752 7.50009 8.47809 7.56013 8.27539 7.79883C8.07235 8.03777 7.5 8.61537 7.5 9.79004C7.50007 10.9642 8.29312 12.0985 8.4043 12.2588C8.51505 12.418 9.93598 14.9063 12.1865 15.8633C14.0569 16.6585 14.4378 16.4998 14.8438 16.46C15.2497 16.4202 16.1544 15.8827 16.3389 15.3252C16.5233 14.768 16.5231 14.2903 16.4678 14.1904C16.4124 14.0909 16.2644 14.0314 16.043 13.9121C15.8212 13.7925 14.7332 13.2144 14.5303 13.1348C14.3273 13.0552 14.1799 13.0159 14.0322 13.2549C13.8846 13.4936 13.4603 14.0311 13.3311 14.1904C13.2019 14.3499 13.0729 14.3693 12.8516 14.25C12.63 14.1302 11.9164 13.8787 11.0703 13.0654C10.4123 12.4328 9.96829 11.6515 9.83887 11.4121C9.70974 11.1734 9.82453 11.0438 9.93555 10.9248C10.035 10.8179 10.1569 10.6461 10.2676 10.5068C10.3781 10.3674 10.4154 10.2677 10.4893 10.1084C10.563 9.94916 10.526 9.80979 10.4707 9.69043C10.4153 9.57101 9.98499 8.3901 9.78809 7.91797L9.72559 7.78613C9.57897 7.51852 9.42802 7.51198 9.29004 7.50586C9.1609 7.49994 9.01276 7.5 8.86523 7.5Z" fill="#F6F6F6"/>
            </svg>
            span WhatsApp
          a(href="http://instagram.com", target="_blank", rel="noopener noreferrer").social-link
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0029 3C14.3481 3 14.6496 3.01043 15.582 3.05469C16.5343 3.09676 17.2013 3.2517 17.791 3.47949C18.4121 3.7135 18.9776 4.08216 19.4453 4.55566L19.1865 4.81934L19.4502 4.56055L19.6221 4.73828C20.0163 5.16886 20.3224 5.66869 20.5303 6.21777C20.7585 6.8051 20.914 7.47572 20.9561 8.42773C20.9969 9.35739 21 9.65895 21 12.002C21 14.3471 20.99 14.6467 20.9492 15.5752C20.9072 16.5287 20.7515 17.1959 20.5234 17.7861C20.0373 19.043 19.0433 20.0373 17.7861 20.5234C17.1984 20.752 16.5273 20.9072 15.5742 20.9492C14.6455 20.9901 14.3457 21 12 21C9.65434 21 9.35443 20.9901 8.42578 20.9492C7.47282 20.9072 6.80587 20.7523 6.21582 20.5244C5.67113 20.3192 5.16906 20.0103 4.73828 19.6182L4.56055 19.4473L4.82031 19.1836L4.55664 19.4424C4.0831 18.975 3.71417 18.413 3.47656 17.7852C3.24834 17.1978 3.09277 16.5274 3.05078 15.5752C3.00999 14.6467 3 14.347 3 12.002C3 9.65723 3.01043 9.3561 3.05469 8.42383C3.09675 7.47182 3.25175 6.80549 3.47949 6.21582C3.71399 5.59393 4.08291 5.02671 4.55762 4.55859L4.55566 4.56152L4.82031 4.81934L4.56055 4.55664L4.55762 4.55859C5.0267 4.07932 5.59084 3.71406 6.21875 3.47656C6.80608 3.2485 7.47722 3.09277 8.42969 3.05078C9.35798 3.01001 9.65796 3 12.0029 3ZM12 7.7373C9.64664 7.73756 7.73731 9.64646 7.7373 12C7.7373 14.3535 9.64664 16.2624 12 16.2627C14.3537 16.2627 16.2637 14.3537 16.2637 12C16.2637 9.6463 14.3537 7.7373 12 7.7373ZM17.2109 4.89453C16.165 4.89479 15.3166 5.74283 15.3164 6.78906C15.3164 7.83526 16.1648 8.68431 17.2109 8.68457C18.2574 8.68457 19.1064 7.83547 19.1064 6.78906C19.1062 5.74263 18.2572 4.89453 17.2109 4.89453Z" fill="#F6F6F6"/>
            </svg>
            span Instagram
          a(href="http://facebook.com", target="_blank", rel="noopener noreferrer").social-link
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.3569 5.98875H17V3.12675C16.7165 3.08775 15.7416 3 14.6062 3C12.2371 3 10.6143 4.49025 10.6143 7.22925V9.75H8V12.9495H10.6143V21H13.8195V12.9503H16.3281L16.7263 9.75075H13.8188V7.5465C13.8195 6.62175 14.0685 5.98875 15.3569 5.98875Z" fill="#F6F6F6"/>
            </svg>

            span Facebook
        .contact-screen__group
          .contact-screen__inner-group
            .contact-screen__group-title.text-style-1920-h-6 Зв'язок з нами:
            a(href="tel:+380972587777", target="_blank", rel="noopener noreferrer").contact-screen__link  
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.6079 7.75956e-05C1.38461 0.000289462 1.16373 0.0467835 0.959465 0.136796C0.75515 0.226865 0.571969 0.358881 0.421379 0.523515C0.270785 0.68816 0.155763 0.882561 0.084465 1.09383C0.01332 1.30486 -0.0127163 1.52832 0.00731659 1.75008C0.271374 4.23172 1.11752 6.6165 2.47704 8.71101C3.7121 10.6508 5.35965 12.2957 7.30322 13.5284C9.39244 14.8806 11.7711 15.7248 14.2466 15.9932C14.4696 16.0133 14.6946 15.9867 14.9067 15.9151C15.1189 15.8435 15.314 15.7283 15.479 15.5772C15.644 15.4261 15.776 15.2419 15.8657 15.0372C15.9553 14.8325 16.0004 14.6112 15.9995 14.3878V11.9796C16.0093 11.5858 15.8738 11.202 15.6186 10.9014C15.3636 10.6011 15.0072 10.4048 14.6167 10.3497C13.8444 10.248 13.0858 10.059 12.3559 9.78719C12.068 9.67916 11.7545 9.65577 11.4536 9.7198C11.153 9.78386 10.8773 9.93286 10.6587 10.1485L9.63622 11.168C7.62234 10.0251 5.9552 8.3606 4.81005 6.35066L5.83154 5.33113C6.04775 5.11286 6.19708 4.83737 6.26122 4.53719C6.32538 4.23694 6.30207 3.92416 6.19384 3.6368C5.92153 2.90843 5.73222 2.15168 5.63036 1.38094C5.57571 0.995288 5.38225 0.642772 5.08642 0.388749C4.7904 0.134674 4.41141 -0.00375733 4.02099 7.75956e-05H1.6079Z" fill="var(--color-white)"/>
              </svg>
              span +38 (097) 258-77-77
            a(href="mailto:Info@sevenlakes.com.ua", target="_blank", rel="noopener noreferrer").contact-screen__link
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.0390625 3.17285C0.0137901 3.27827 0 3.38769 0 3.5V12.5C0 13.3249 0.719787 13.9998 1.59961 14H14.4004C15.2802 13.9998 16 13.3249 16 12.5V3.5C16 3.38761 15.9853 3.27834 15.96 3.17285L8.49414 9.70703C8.21146 9.95436 7.7896 9.95422 7.50684 9.70703L0.0390625 3.17285ZM1.59961 2C1.41532 2.00004 1.23834 2.03054 1.07324 2.08496L8 8.14551L14.9258 2.08496C14.7609 2.03072 14.5843 2.00004 14.4004 2H1.59961Z" fill="var(--color-white)"/>
              </svg>
              span Info@sevenlakes.com.ua
    .contact-screen__right
      .contact-screen__right-title.color-white.text-style-1920-h-1.color-white-light.text-style-768-h-1.text-style-375-h-1(data-split-lines-new-animation data-success-title="ДЯКУЄМО ЗА ЗВЕРНЕННЯ") Залишились запитання?
      .contact-screen__right-text.color-text.text-style-1920-subtitle(data-success-title="Ми зв’яжемось з вами через декілька хвилин") Ми готові дати відповідь
      form(data-contact-screen-form).dzen-form
          .dzen-form__input-group(data-field-input data-field-name data-status="field--inactive")
            .dzen-form__input-group-title Ім’я
            <svg class="dzen-form__input-group-required-label" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M10.7435 16.6822L10.9052 13.1352L7.92432 15.0647L7 13.4702L10.1658 11.8527L7 10.2351L7.92432 8.61756L10.9052 10.5471L10.7435 7H12.569L12.4073 10.5471L15.3882 8.61756L16.3125 10.2351L13.1467 11.8527L16.3125 13.4702L15.3882 15.0647L12.4073 13.1352L12.569 16.6822H10.7435Z" fill="var(--color-white)"/>
            </svg>
            input.dzen-form__input(type="text" placeholder="Ім’я" name="name")
            .dzen-form__input-message(data-input-message)
          .dzen-form__input-group(data-field-input data-field-phone data-status="field--inactive")
            <svg class="dzen-form__input-group-required-label" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M10.7435 16.6822L10.9052 13.1352L7.92432 15.0647L7 13.4702L10.1658 11.8527L7 10.2351L7.92432 8.61756L10.9052 10.5471L10.7435 7H12.569L12.4073 10.5471L15.3882 8.61756L16.3125 10.2351L13.1467 11.8527L16.3125 13.4702L15.3882 15.0647L12.4073 13.1352L12.569 16.6822H10.7435Z" fill="var(--color-white)"/>
            </svg>
            .dzen-form__input-group-title Телефон
            input.dzen-form__input(type="text" placeholder="Телефон" name="phone")
            .dzen-form__input-message(data-input-message)
          button(type="submit" data-btn-submit).dzen-form__submit 
            span(data-btn-submit-text)
            span Надіслати повідомлення
    .contact-screen__bottom 
      .color-white.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2 Віримо в майбутнє! 
      <svg xmlns="http://www.w3.org/2000/svg" width="369" height="140" viewBox="0 0 369 140" fill="none">
        <path d="M45.9067 15.1473L62.0064 55.2264C65.2263 54.6821 68.4235 54.1606 71.5981 53.6504L83.3894 11.9727C84.4552 8.46933 87.1309 2.53966 93.0946 2.18819L93.5367 2.16552V1.1111H74.3192V2.18819H74.784C79.0244 2.18819 81.9835 6.47388 81.9835 10.3174C81.9835 12.4489 81.0198 15.7935 76.4053 31.8592C75.0108 36.7004 73.2875 42.6981 71.1673 50.1697L51.2128 1.39455L51.0994 1.09977H49.2173L32.9363 50.147C27.7662 33.7526 24.4896 23.5259 22.5168 17.3468C19.2176 7.04077 19.1835 6.93873 19.2175 6.05438C19.2175 5.95234 19.2175 5.82762 19.2175 5.69157C19.2175 4.69384 19.5804 3.87752 20.272 3.31063C20.6915 2.9705 21.9386 2.3696 25.6347 2.18819L26.0769 2.16552V1.1111H0V2.17686H0.453511C2.7891 2.26756 5.82762 2.92515 6.70063 3.54873L6.81401 3.62809C8.03093 4.48976 10.7444 11.7989 14.9545 25.5554C17.5282 33.968 20.9636 45.2151 25.9409 61.1787C27.6302 60.9293 29.3082 60.6685 30.9862 60.4077L45.9067 15.1586V15.1473Z" fill="#F6F6F6"/>
        <path d="M98.5254 47.0745L100.861 41.4396H123.151L126.031 48.4577C129.648 48.469 133.276 48.5257 136.926 48.6164L127.72 26.4737C122.505 13.9001 117.142 1.15645 117.097 1.03174L116.666 0L97.6637 45.7706C96.8247 47.7207 96.1784 49.2627 95.793 50.2491C96.2918 50.1924 96.7907 50.1357 97.2895 50.079C97.6637 49.1493 98.0719 48.1516 98.5254 47.0745ZM111.972 14.433L122.686 40.2151H101.314L111.961 14.433H111.972Z" fill="#F6F6F6"/>
        <path d="M178.479 49.7842V2.18819H188.355C191.813 2.18819 194.273 2.40361 195.668 2.82311C196.983 3.21993 197.867 4.27435 199.069 6.09973C199.556 6.84802 200.633 9.67113 202.425 20.2493L202.493 20.6348H203.502L203.196 1.1111H143.582L143.208 20.6348H144.375L144.443 20.2379C144.976 16.9273 146.382 8.15187 147.663 6.16776C148.933 4.19498 149.704 3.07254 150.963 2.75508C151.994 2.49431 154.262 2.18819 159.239 2.18819H168.309V49.7956C168.309 49.9316 168.309 50.0677 168.309 50.1924C171.711 50.4305 175.101 50.7026 178.502 50.9747C178.502 50.5892 178.502 50.1924 178.502 49.7842H178.479Z" fill="#F6F6F6"/>
        <path d="M261.96 46.0654H260.871L260.78 46.4282C259.669 50.9974 258.116 54.7162 256.155 57.4712C255.769 57.9928 255.384 58.4803 254.987 58.9338C256.982 59.1492 258.955 59.3647 260.916 59.5687L261.948 46.0768L261.96 46.0654Z" fill="#F6F6F6"/>
        <path d="M228.173 48.9226V31.7571H234.794C237.64 31.7571 239.454 31.9159 240.508 32.2447C241.574 32.5735 242.402 33.3218 242.901 34.3875C243.366 35.3852 243.728 39.2741 243.728 43.4464V43.9112H244.885V20.9296H243.728V21.3944C243.728 25.1585 243.422 26.8479 243.173 27.6075C242.867 28.5145 242.141 29.2288 240.962 29.7957C239.874 30.3059 237.844 30.544 234.579 30.544H228.184V2.25622H236.676C240.951 2.25622 243.309 2.44896 245.384 2.95916C247.379 3.45802 249.068 4.5918 250.406 6.33782C251.722 8.04983 253.91 13.1518 254.941 17.721L255.021 18.0838H256.121L254.511 1.09977H209.602V2.17686H210.066C213.128 2.17686 215.055 2.4603 215.962 3.04986C216.846 3.59408 217.436 4.63716 217.629 5.97501C217.833 7.40357 217.98 12.4035 217.98 17.6189V49.7842C217.98 51.8477 217.958 53.503 217.924 54.8295C221.427 55.2037 224.908 55.5892 228.366 55.9747C228.241 54.1606 228.162 51.859 228.162 48.9226H228.173Z" fill="#F6F6F6"/>
        <path d="M286.211 59.6821C285.916 58.0721 285.86 54.5574 285.86 49.7956V34.7957H287.923C289.556 34.7957 290.78 35.0564 291.551 35.578C292.084 35.9635 293.275 37.1086 295.95 40.4079C298.342 43.3557 300.395 46.0881 302.22 48.7638C307.844 56.8136 311.948 61.1787 314.726 63.5483C316.755 63.5936 318.739 63.6163 320.701 63.6163C324.941 63.6163 328.864 63.6843 332.503 63.8204C329.453 63.4689 326.766 62.4599 324.487 60.7819C321.687 58.7751 317.855 54.4781 313.093 48.0155C307.776 40.9067 303.83 36.4737 301.086 34.5576C306.494 33.7186 310.735 31.8705 313.694 29.0474C316.857 26.0316 318.467 22.2901 318.467 17.9364C318.467 14.1949 317.231 10.9523 314.805 8.29926C312.379 5.64622 309.17 3.70746 305.27 2.52833C301.517 1.39455 296.585 0.850334 290.168 0.850334C286.597 0.850334 266.506 1.06575 266.313 1.06575H265.848V2.29023H267.402C270.712 2.29023 272.651 2.52833 273.513 3.01585C274.34 3.52605 274.919 4.48976 275.179 5.81628C275.463 7.30153 275.61 10.6008 275.61 15.6348V49.8296C275.61 55.147 275.463 58.5937 275.191 60.0789C275.123 60.4077 275.043 60.7138 274.93 60.9973C279.057 61.3828 283.116 61.7456 287.095 62.063C286.653 61.4508 286.358 60.6685 286.222 59.7161L286.211 59.6821ZM285.848 2.14284C287.197 2.01813 288.343 1.97277 289.431 1.97277C296.835 1.97277 301.676 3.2993 303.819 5.92966C306.075 8.53735 307.107 14.3423 307.107 18.6393C307.107 20.9522 306.869 24.0588 306.2 25.8388C305.451 27.6982 304.624 29.0247 303.569 30.0111C302.492 31.0202 301.064 31.7912 299.193 32.358C297.322 32.9363 295.213 33.2764 292.742 33.4238C291.415 33.4578 290.111 33.5145 288.819 33.5712C287.821 33.6165 286.823 33.6619 285.848 33.6959V2.14284Z" fill="#F6F6F6"/>
        <path d="M88.5028 93.8882L88.5708 94.4551H89.6819L89.3758 84.1831C88.5595 84.1037 87.7318 84.0357 86.9155 83.9563C87.6751 87.2443 88.208 91.5866 88.5028 93.8769V93.8882Z" fill="#F6F6F6"/>
        <path d="M50.3511 88.6955V122.89C50.3511 128.208 50.2037 131.654 49.9316 133.14C49.6708 134.421 49.0586 135.419 48.1289 136.087C47.0858 136.711 45.2378 137.028 42.6641 137.028H40.1698V138.106H71.0312V137.028H68.4009C65.5324 137.028 63.6617 136.677 62.6753 135.963C61.7456 135.305 61.1787 134.239 60.986 132.788C60.7025 131.235 60.5551 127.902 60.5551 122.902V105.158H66.156C69.2172 105.158 71.292 105.43 72.3011 105.974C73.3782 106.541 74.1718 107.596 74.6026 109.024C75.0788 110.521 75.3736 114.478 75.3736 117.267V117.732H76.5301V94.1036H75.3736V94.5685C75.3736 98.31 74.7614 100.85 73.5482 102.131C72.4144 103.333 69.9315 103.933 66.156 103.933H60.6231V81.7454C57.0858 81.4847 53.5937 81.2352 50.181 81.0198C50.3058 82.7885 50.3624 85.3622 50.3624 88.7068L50.3511 88.6955Z" fill="#F6F6F6"/>
        <path d="M137.187 91.734C137.187 94.0469 136.949 97.1535 136.28 98.9335C135.532 100.793 134.704 102.119 133.65 103.106C132.573 104.115 131.144 104.886 129.273 105.453C127.403 106.031 125.294 106.371 122.822 106.519C121.496 106.553 120.192 106.609 118.911 106.666C117.902 106.711 116.915 106.757 115.929 106.791V86.632C112.482 86.3259 109.047 86.0084 105.646 85.7023C105.657 86.6207 105.668 87.6184 105.668 88.7068V122.902C105.668 128.219 105.521 131.666 105.249 133.151C104.977 134.5 104.387 135.464 103.446 136.099C102.403 136.722 100.555 137.04 97.9811 137.04H95.4188V138.117H127.221V137.04H123.65C120.804 137.04 118.899 136.688 117.992 135.974C117.063 135.316 116.496 134.251 116.303 132.799C116.008 131.19 115.952 127.675 115.952 122.913V107.913H118.015C119.648 107.913 120.872 108.174 121.643 108.695C122.176 109.081 123.366 110.226 126.042 113.525C128.434 116.473 130.487 119.205 132.312 121.881C139.285 131.87 143.933 136.189 146.598 138.049L146.722 138.128H164.613V137.062L164.16 137.04C160.464 136.892 157.244 135.838 154.579 133.877C151.779 131.87 147.947 127.573 143.185 121.11C137.867 114.001 133.922 109.568 131.178 107.652C136.586 106.813 140.827 104.965 143.786 102.142C146.949 99.1263 148.559 95.3848 148.559 91.0311C148.559 90.4302 148.525 89.8406 148.457 89.2624C144.636 89.0016 140.815 88.7182 137.028 88.4234C137.153 89.5798 137.21 90.7136 137.21 91.7567L137.187 91.734Z" fill="#F6F6F6"/>
        <path d="M220.803 106.621C220.803 117.176 218.547 126.258 214.76 130.906C210.803 135.849 205.463 138.253 198.423 138.253C190.441 138.253 184.67 135.849 180.792 130.906C177.051 126.235 174.829 117.131 174.829 106.553C174.829 100.657 175.543 95.2261 176.824 90.759C173.582 90.6456 170.339 90.4982 167.096 90.3508C164.602 94.9426 163.332 100.26 163.332 106.269C163.332 116.258 166.597 124.398 173.026 130.464C179.42 136.496 187.754 139.557 197.776 139.557C207.799 139.557 216.574 136.496 222.822 130.464C229.148 124.421 232.368 116.382 232.368 106.564C232.368 100.294 231.064 94.8066 228.49 90.1467C225.168 90.4302 221.914 90.6569 218.763 90.8043C220.078 95.2941 220.803 100.748 220.803 106.632V106.621Z" fill="#F6F6F6"/>
        <path d="M245.395 88.6955V125.487C245.395 129.33 245.259 131.768 244.976 132.743C244.703 133.763 243.83 134.659 242.391 135.419C240.939 136.178 237.991 136.79 234.692 137.028L234.261 137.062V138.106H259.272V137.028H258.808C254.873 137.028 251.551 136.496 250.157 135.657C248.547 134.67 247.561 133.661 247.254 132.663C246.926 131.62 246.767 129.273 246.767 125.498V88.1513C246.313 88.208 245.86 88.2647 245.395 88.3214C245.395 88.4461 245.395 88.5708 245.395 88.7068V88.6955Z" fill="#F6F6F6"/>
        <path d="M293.184 84.5005V124.251L263.638 85.7477C260.021 86.2919 256.415 86.8248 252.844 87.3236L293.218 139.364L293.354 139.545H294.556V85.2261C294.556 83.2534 294.635 81.8135 294.805 80.7704C294.204 80.8724 293.603 80.9631 293.002 81.0652C293.127 82.0175 293.195 83.1627 293.195 84.5005H293.184Z" fill="#F6F6F6"/>
        <path d="M333.082 75.3963V122.89C333.082 128.457 332.923 131.7 332.583 133.14C332.311 134.489 331.721 135.453 330.769 136.087C329.828 136.688 327.889 137.028 325.315 137.028H321.528V138.106H354.555V137.028H350.984C348.161 137.028 346.313 136.677 345.326 135.963C344.397 135.305 343.83 134.239 343.637 132.811C343.41 131.121 343.274 127.607 343.274 122.902V75.2942H353.149C356.607 75.2942 359.068 75.5097 360.462 75.9292C361.777 76.326 362.662 77.3804 363.864 79.2058C364.907 80.7931 366.245 88.8429 366.959 93.1626C367.061 93.7408 367.14 94.2737 367.22 94.7499L367.288 95.1354H368.297L367.991 74.2171H360.893C357.934 74.2512 354.476 74.2852 350.428 74.3192C345.202 74.3645 339.363 74.7614 333.093 75.4076L333.082 75.3963Z" fill="#F6F6F6"/>
        <path d="M307.991 95.1354H309.159L309.227 94.7385C309.317 94.2057 309.408 93.5708 309.522 92.8678C310.213 88.4121 311.37 80.9405 312.447 79.2738C312.776 78.7636 313.07 78.3101 313.354 77.9133C311.687 78.1514 309.998 78.4121 308.308 78.6616L308.014 95.1354H307.991Z" fill="#F6F6F6"/>
        <path d="M99.1489 73.9564H102.38V75.1809H97.8451V63.4576H99.1489V73.9564Z" fill="#F6F6F6"/>
        <path d="M111.133 71.8816H106.144L104.738 75.1809H103.299L108.695 62.902L113.945 75.1809H112.505L111.133 71.8816ZM110.623 70.6571L108.65 65.9632L106.643 70.6571H110.623Z" fill="#F6F6F6"/>
        <path d="M117.425 68.4916L122.414 63.4689H124.171L118.684 68.9337L124.342 75.1922H122.55L117.754 69.8181L117.425 70.1469V75.1922H116.122V63.4689H117.425V68.4916Z" fill="#F6F6F6"/>
        <path d="M132.709 64.6934H127.924V68.1741H132.561V69.4099H127.924V73.9564H132.709V75.1809H126.632V63.4576H132.709V64.6934Z" fill="#F6F6F6"/>
        <path d="M143.661 65.7818C143.502 65.4644 143.242 65.1129 142.981 64.9088C142.754 64.7274 142.335 64.5007 141.666 64.5007C140.509 64.5007 139.693 65.2263 139.693 66.3147C139.693 66.7682 139.818 67.0403 140.135 67.3351C140.487 67.6866 140.929 67.8793 141.371 68.0721L142.493 68.5596C143.174 68.8544 143.808 69.1718 144.307 69.6707C144.908 70.2716 145.146 70.9519 145.146 71.8022C145.146 73.9677 143.548 75.4076 141.439 75.4076C140.668 75.4076 139.704 75.2489 138.888 74.4552C138.31 73.8884 137.958 73.0834 137.799 72.3804L139.069 72.029C139.16 72.6412 139.443 73.1741 139.772 73.5255C140.282 74.0357 140.861 74.1718 141.462 74.1718C143.06 74.1718 143.82 73.0267 143.82 71.8475C143.82 71.326 143.661 70.8612 143.242 70.4757C142.913 70.1582 142.448 69.9541 141.836 69.6707L140.781 69.1832C140.328 68.9678 139.75 68.7297 139.217 68.2195C138.706 67.7319 138.412 67.1877 138.412 66.3034C138.412 64.4893 139.795 63.2762 141.7 63.2762C142.425 63.2762 143.003 63.4122 143.582 63.7977C144.058 64.1152 144.455 64.5914 144.727 65.1016L143.695 65.7818H143.661Z" fill="#F6F6F6"/>
        <path d="M155.554 64.6934V75.1809H154.251V64.6934H151.405V63.4576H158.4V64.6934H155.554Z" fill="#F6F6F6"/>
        <path d="M159.443 69.3306C159.443 65.8385 162.164 63.2649 165.543 63.2649C168.922 63.2649 171.643 65.8272 171.643 69.3306C171.643 72.8339 168.933 75.3963 165.543 75.3963C162.153 75.3963 159.443 72.8113 159.443 69.3306ZM160.77 69.3306C160.77 72.0176 162.901 74.1605 165.532 74.1605C168.162 74.1605 170.294 72.0176 170.294 69.3306C170.294 66.6435 168.162 64.5007 165.532 64.5007C162.901 64.5007 160.77 66.6435 160.77 69.3306Z" fill="#F6F6F6"/>
        <path d="M174.25 63.4689L177.346 72.2557L181.019 62.868L184.5 72.2557L187.924 63.4689H189.364L184.443 75.8044L180.996 66.4168L177.312 75.8044L172.811 63.4689H174.25Z" fill="#F6F6F6"/>
        <path d="M191.541 75.1809V62.9701L200.679 72.5505V63.4689H201.983V75.7137L192.844 66.1333V75.1809H191.541Z" fill="#F6F6F6"/>
        <path d="M135.793 67.2784H135.135V63.4689H136.439L135.793 67.2784Z" fill="#F6F6F6"/>
      </svg>
      .bgtitle Thanks
    button(type="button").up-arrow
      <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="60" y="2.62268e-06" width="60" height="60" rx="30" transform="rotate(90 60 2.62268e-06)" fill="#F6F6F6"/>
        <path d="M30.3076 20.9434L23.8984 27.3525L24.6055 28.0596L29.8076 22.8574L29.8076 39L30.8076 39L30.8076 22.8574L36.0107 28.0596L36.7178 27.3525L30.3076 20.9434Z" fill="#33414B"/>
      </svg>
      span Вгору

// Повторювальний блок контактів END