
.frame {
	padding: 2.5rem;
	display: grid;
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 100;
	pointer-events: none;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto 1fr;
	grid-gap: 1rem;
	grid-template-areas: 'back sponsor' 'title title' 'info info' 'nav nav';
	
}

.frame a {
	pointer-events: auto;
}

.frame__nav-button {
	position: relative;
	transition: color 0.3s;
	pointer-events: auto;
	color: var(--color-text);
}

.frame__nav-button:not(.frame__nav-button--current):hover {
	color: var(--color-white);
}

.frame__nav-button--current {
	color: var(--color-white);
}

.frame__nav-button::before {
	content: '';
	width: 2.5rem;
	height: 1px;
	top: 50%;
	background-color: var(--color-ochre);
	position: absolute;
	right: calc(100% + 4px);
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: transform 0.35s ease-in-out;
}
@media (hover:hover) {
	.frame__nav-button:hover::before {
		transform: scaleX(1);
	}
}
.frame__nav-button--current::before {
	transform: scaleX(1);
}

.slides {
	width: 100%;
	height: calc(100vh - var(--header-h));
	overflow: hidden;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	place-items: center;
	@include to(600px){
		height: calc(var(--vh, 100) * 100 - var(--header-h));
	}
}

.slide {
	width: 100%;
	height: 104%;
	grid-area: 1 / 1 / -1 / -1;
	pointer-events: none;
	opacity: 0;
	overflow: hidden;
	position: relative;
	will-change: transform;
	&--current {
		pointer-events: auto;
		opacity: 1;
	}
	&__inner {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 100%;
		position: relative;
		overflow: hidden;
		will-change: transform;
		pointer-events: none;
	}
	&__img {
		grid-area: 1 / 1 / -1 / -1;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		z-index: 1;
		transform: translateZ(0);
	}
	&__img-inner {
		width: 100%;
		height: 100%;
		// background-size: cover;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		will-change: transform;
	}
	&__img-inner2 {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		filter: blur(20px);
		z-index: -1;
	}
}

.cursor {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

@media screen and (min-width: 53em) {
	.frame {
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
		grid-template-areas: 'back ... sponsor' 'nav info title';
		align-content: space-between;
	}
	.frame__info {
		justify-self: center;
	}
	.slide__content {
		grid-template-rows: auto auto auto;
		grid-template-columns: 220px 300px;
		grid-column-gap: 2rem;
		grid-template-areas: 'img title' 'img text' 'img ...' ;
	}
}



.home-gallery-screen {
	position: relative;
	@include to(600px){
		height: calc(var(--vh, 100) * 100 - var(--header-h));
	}
	&__title {position: absolute;
		left: var(--page-side-fields);
		top: var(--section-v-offset);
		z-index: 3;
	}
	.frame__nav {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 4;
		background: radial-gradient(100% 100% at 0% 100%, rgba(30, 30, 34, 0.80) 0%, rgba(30, 30, 34, 0.00) 100%);
		width: 500px;
		height: 500px;
		max-width: 100vw;
		display: grid;
		grid-auto-flow: row;
		place-items: start;
		align-content: end;
		grid-gap: 8px;
		padding-left: 25px;
		padding-bottom: 25px;
		@include to(600px){
			display: none;
		}
	}
	&__nav {
		position: absolute;
		left: 50%;
		bottom: 40px;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		gap: 13px;
		z-index: 2;
		padding: 8px;
		border-radius: 100px;
		background: rgba(51, 65, 75, 0.80);
		@include text-style-1920-body;
		@include to(600px){
			bottom: 20px;
		}
		&-digits {
			display: flex;
			align-items: center;
			gap: 4px;
			span:nth-child(1),
			span:nth-child(3) {
				width: 2ch;
			}
		}
	}
	&__mobile-nav-title {
		text-align: center;
		margin-top: 28px;
		margin-bottom: 12px;
	}
}

@keyframes galleryPrevAnimation {
	0% {
		transform: translateX(25px);
	}
	100% {
		transform: translateX(-25px);
	}
}
@keyframes galleryNextAnimation {
	0% {
		transform: translateX(-25px);
	}
	100% {
		transform: translateX(25px);
	}
}

.slider-nav-button {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	gap: 28px;
	border-radius: 50%;
	background-color: var(--color-white);
	cursor: pointer;
	@include to(600px){
		width: 40px;
		height: 40px;
		padding: 12px;
	}
	@media (hover: hover) {
		path {
			transform-origin: center;
			transform-box: fill-box;
		}
		&[data-gallery="prev"]:hover path {
			animation: galleryPrevAnimation 0.75s infinite;
		}
		&[data-gallery="next"]:hover path {
			animation: galleryNextAnimation 0.75s infinite;
		}
	}
}