@font-face {
	font-family: 'Gilroy-Regular';
	font-display: swap;
	src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manhattan';
	font-display: swap;
	src: url('../fonts/Manhattan-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}