-
  var docs = [
    {
      name: "袥i褑械薪蟹i褟 袚. 袩. 袣芯屑邪薪写芯褉 ( 锌芯胁i写芯屑谢械薪薪褟, 锌械褉械谢i泻 褉芯斜i褌, 袙懈褌褟谐 i蟹 褋邪懈虇褌褍 袛袗袘I )",
      img: './assets/images/home/documents/doc1.jpg',
      link: "../static/OSR2_1.pdf"
    },
    {
      name: "袥i褑械薪蟹i褟 袚. 袩. 袣芯屑邪薪写芯褉 ( 锌芯胁i写芯屑谢械薪薪褟, 锌械褉械谢i泻 褉芯斜i褌, 袙懈褌褟谐 i蟹 褋邪懈虇褌褍 袛袗袘I )",
      img: './assets/images/home/documents/doc1.jpg',
      link: "../static/OSR2_2.pdf"
    },
    {
      name: "袥i褑械薪蟹i褟 袚. 袩. 袣芯屑邪薪写芯褉 ( 锌芯胁i写芯屑谢械薪薪褟, 锌械褉械谢i泻 褉芯斜i褌, 袙懈褌褟谐 i蟹 褋邪懈虇褌褍 袛袗袘I )",
      img: './assets/images/home/documents/doc1.jpg',
      link: "../static/OSR2_3.pdf"
    }
  ]

.documents#documentation
  .documents__bg
    img(src="./assets/images/home/documents/BG.jpg" alt="documents-bg")
  .documents__content
    .documents__title.color-white.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1 袛芯泻褍屑械薪褌邪褑褨褟
    .bgtitle DOCUMENTS
    .documents__list
      each doc in docs
        a.documents__content-item(href=doc.link target="_blank")
          .documents__content-item-img
            .documents__content-item-img-wrapper
              img(src=doc.img alt=doc.name  loading="lazy")
          .documents__content-item-name.text-style-1920-subtitle.text-style-375-subtitle.color-white= doc.name
          .documents__content-item-arrow
            .documents__content-item-arrow-line
            .documents__content-item-arrow-icon

