-
  var faqs = [
    {
      question: 'ХТО БУДЕ КЕРУВАТИ КОМПЛЕКСОМ?',
      answer: 'Комплексом керуватиме керівна компанія Ribas Hotels Group - найбільший український готельний оператора сьогодення. В його управлінні понад 50 готельних комплексів і 5 котеджів.'},
    {
      question: 'ЯК БУЛИ ЗГЕНЕРОВАНІ ПОКАЗНИКИ ОКУПНОСТІ ЦЬОГО ПРОЄКТУ?',
      answer: 'Всю фінансову модель формує і прописує керівна компанія. Вона має аналітику по всій Україні і регулярно робить зрізи показників, а також аналізує конкурентів. Компанія виходить з актуальних цифр ринку, тенденцій, прогнозів. Найголовніше – за приклад у компанії беруть сталі величини. Тобто не гіпотези, а фактичні цифри.'},
    {
      question: 'ЩО ВХОДИТЬ У ЗАЯВЛЕНУ ВАРТІСТЬ БУДИНКУ?',
      answer: 'У вартість включено: земельну ділянку, котедж з дизайнерським ремонтом, меблями, декором та технікою.'},
    {
      question: 'ЯКИЙ ГРАФІК ВИПЛАТИ ДИВІДЕНДІВ?',
      answer: 'У Dzen Residence передбачена щоквартальна виплата відсотків.'},
    {
      question: 'КОЛИ ЗАПЛАНОВАНО ВВЕДЕННЯ ДРУГОЇ ЧЕРГИ ПРОЄКТУ?',
      answer: 'Будівництво другої черги комплексу розпочнеться у 2024 році. Введення в експлуатацію заплановане на 2025-2026 роки. Котеджі будуть введені у 2025 році, апартаменти зі SPA – у 2026 році. '},
    {
      question: 'ЯКІ ДОКУМЕНТИ Я ОТРИМАЮ?',
      answer: 'Ви отримаєте попередній договір купівлі-продажу, а також договір попереднього бронювання, відповідно до якого ми забовʼязані в зазначені терміни здати будівлю, отримати всі дозвільні документи на експлуатацію. Ви забовʼязуєтесь виплатити всю суму інвестицій в розмірі, який зазначено в договорі. Після цього ми переоформлюємо на вас право власності на землю і на будівлю, яка розташована на ній.'},
    {
      question: 'ЧИ МОЖУ Я ПЕРЕПРОДАТИ ЮНІТ?',
      answer: 'Так, юніт можна буде перепродати навіть під час будівництва.'},
    {
      question: 'ЧИ БУДЕ ВРАХОВАНО ПРАВО ВЛАСНОСТІ НА ЗЕМЛЮ?',
      answer: 'Земля врахована у загальну вартість будинку і буде також передана у власність інвестора.'},
    {
      question: 'СКІЛЬКИ ДНІВ Я ЗМОЖУ ЖИТИ В СВОЄМУ ЮНІТІ?',
      answer: 'У своєму будинку ви зможете жити 19 днів на рік.'},
  ]

#faq.faq
  .faq__content
    .faq__title.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.text-black(data-split-lines-new-animation) Питання та відповіді
    .faq__img
      .faq__img-wrap
        img(src='./assets/images/home/faq/image.jpg', alt='faq'  loading="lazy")
    .faq__list.accordion-container
      each val in faqs
        .faq__item.ac
          .faq__item-question.text-style-1920-h-5.color-black.ac-header
            span #{val.question}
            .faq__item-button
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="faq__item-button-closed" d="M12.5 6V11.502H18V12.502H12.5V18H11.5V12.502H6V11.502H11.5V6H12.5Z" fill="#0A0F13"/>
                <path class="faq__item-button-opened" d="M18 12.5H6V11.5H18V12.5Z" fill="#0A0F13"/>
              </svg>
          .faq__item-answer.text-style-1920-h-6.ac-panel.color-ochre 
            .faq__item-answer-inner #{val.answer}