.screen2 {

    --side-padding: calc(var(--page-side-fields) * 2);
    --mob-bg-height: 417px;
    
    &__content {
        display: flex;
        @include from(1025px){
            min-height: calc(100vh - var(--header-h));
        }
        @include to(1024px){
            flex-wrap: wrap;
        }
    }
    &__left {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--section-v-offset);
        // color: var(--color-white-light);
        position: relative;
        
        @include to(1024px){
            justify-content: space-between;
            width: 100%;
            min-height: calc(100vh - var(--header-h));
        }
        @include to(600px){
            min-height: calc(var(--vh, 1vh) * 100 - var(--header-h));
            row-gap: 0;
            align-items: flex-start;
            align-content: flex-start;
            padding-bottom: var(--mob-bg-height);
            &:after {
                content: '';
                position: absolute;
                top: calc(100% - var(--mob-bg-height));
                left: 0;
                width: 100%;
                height: 20%;
                background: linear-gradient(0deg, rgba(51, 65, 75, 0) 0%, rgba(51, 65, 75, 1) 100%);
            }
            .screen2__title {
                margin-bottom: 36vh;
            }
        }
        &-title {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            padding: 40px 35px 20px 40px;
            text-align: right;
            z-index: 2;
            background: linear-gradient(180deg, rgba(51, 65, 75, 0.00) 0%, rgba(51, 65, 75, 0.60) 100%);
            backdrop-filter: blur(1px);
            z-index: 3;
            @include to(1024px){
                right: auto;
                bottom: auto;
                left: 0;
                top: 0;
                background: linear-gradient(0deg, rgba(51, 65, 75, 0.00) 0%, rgba(51, 65, 75, 0.60) 100%);
                padding: 60px var(--page-side-fields);
                text-align: left;
            }
            @include to(600px){
                position: static;
                order: -1;
                padding: 80px var(--page-side-fields) 0 var(--page-side-fields);
                background-color: var(--color-blue);
            }   
        }
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: pxInVh(120);
            padding-right: pxWidthInVw(80);
            position: relative;
            z-index: 2;
            padding-left: calc(pxWidthInVw(40) + var(--page-side-fields));
            row-gap: 32px;
            background: linear-gradient(270deg, rgba(51, 65, 75, 0.00) 0%, #33414B 100%);
            backdrop-filter: blur(1px);
            @include to(1024px){
                padding-top: 35vh;
            }
            @include to(600px){
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: var(--color-blue);
            }
            img {
                width: 24px;
                height: 24px;
            }
        }
        &-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            @include to(600px){
                top: auto;
                bottom: 0;
                height: var(--mob-bg-height);

            }
        }
        &-item {
            display: grid;
            grid-template-columns: 32px pxWidthInVw(320);
            column-gap: 12px;
            align-items: center;
            @include from-to(1025px, 1320px){
                grid-template-columns: 32px pxWidthInVw(360);
            }
            @include to(1024px){
                grid-template-columns: 32px 33vw;
            }
            @include to(600px){
                grid-template-columns: 32px auto;
            }
            &-description {
                grid-area: 2/2/2/3;
            }
        }
    }
    &__right {
        width: 50%;
        padding: pxInVh(120) pxWidthInVw(40) pxInVh(60) pxWidthInVw(40);
        background-color: var(--color-blue);
        position: relative;
        @include to(1024px){
            width: 100%;
            padding-top: 120px;
            padding-bottom: 60px;
            padding-left: var(--page-side-fields);
            padding-right: var(--page-side-fields);
            min-height: calc(100vh - var(--header-h));
        }
        @include to(600px){
            padding-top: var(--section-v-offset);
            padding-bottom: var(--section-v-offset);
        }
        &-title {
            margin-bottom: 12px;
            @include from-to(601px, 1024px){
                padding-right: 38%;
            }
        }
        .dzen-form {
            width: calc(100% - pxWidthInVw(240));
            margin-left: auto;
            margin-top: pxInVh(162);
            @include to(1024px){
                width: calc(100% - 240px);
            }
            @include to(600px){
                width: 100%;
            }
        }
        .bgtitle {
            
            position: absolute;
            right: 0;
            top: 0;
            @include to(1024px){
                right: 40px;
                top: 40px;
            }
            @include to(600px){
                right: 0;
            }
        }
    }
    &__title {
        @include from(1025px){
            padding-right: 25%;
        }
        @include to(1024px){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    [data-success] .bgtitle {
        display: none;
    }
    
}